# IntelliJ IDEA
.idea/
*.iml
*.iws
out/
target/
*.swp
*.swo
*.ipr
*.idea
/18-02/.terraform.lock.hcl
/18-02/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.191.0/linux_amd64/CHANGELOG.md
/18-02/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.191.0/linux_amd64/LICENSE
/18-02/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.191.0/linux_amd64/README.md
/18-02/terraform
/18-02/terraform.tfstate
/18-02/terraform.tfstate.backup
/18-02/.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.191.0/linux_amd64/terraform-provider-yandex_v0.191.0
